.required label::after {
    content: "*";
    color: #f2a8a8;
}
.color-none {
    color: #0d0d0d !important;
    text-decoration: none !important;
}

.color-none:hover {
    color: #1564c0 !important;
    text-decoration: underline !important;
}
.title {
    text-decoration: none;
    color: white;
}
.searchCard {
    margin-bottom: 10px;
    margin-top: 10px;
}